.info-container {
    margin-top: 4em;
    background: #151515 !important;
    border-radius: 12px !important;
    box-shadow: 1px 1px 2px rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #121212;
}

.info-title-container {
    background: #131313 !important;
    padding: 1rem;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.info-title-container h2 {
    font-size: 1.65rem;
    font-weight: 700;
    color: white;
}

.info-field {
    margin: 1rem;
}

.current-info {
    padding: 1rem !important;
}

.current-info h4 {
    font-size: 1.165rem;
    color: white;
    font-weight: 650;
}

.budget-header-span {
    color: #d2d2d2;
    font-weight: 500;
}

.total-cost-header-span {
    color: #d2d2d2;
    font-weight: 500;
}

.remaining-header-span {
    color: #00ff6f;
    font-weight: 500;
}

.add-item-icon-container {
    justify-content: center;
}

.add-item-icon path:hover {
    fill: #005e46;
}

.add-item-icon:hover {
    cursor: pointer;
}

.searchbar-container {
    margin-right: 7rem;
}

.searchbar-container input {
    border-radius: 3px;
    padding-left: 0.45rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border: 1px solid #4a4a4a;
    background: #1f1f1f;
    color: white;
    font-size: 0.9rem !important;
}

.searchbar-container input::placeholder {
    color: #aaaaaa;
    font-size: 0.9rem !important;
}

.searchbar-container input:focus {
    border: 2px solid #0037ff;
    outline: none;
    color: white;
    font-size: 0.9rem !important;
}

.rc-slider-rail {
    background: #c0c0c0;
}

.rc-slider-track {
    background: #0059ff;
}

.rc-slider-handle {
    background: #ffffff;
    border: none;
    opacity: 1;
}

input[type="text"] {
    -moz-appearance: textfield;
    outline: none;
    border: none;
}

input[type="text"]::-webkit-inner-spin-button,
input[type="text"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"]:focus {
    outline: none;
    border: 2px solid #0051ff;
}

.slider-input {
    background: #181818;
    border: none;
    color: white;
}

@media screen and (max-width: 945px) {
    .table-container-top-wrapper {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .searchbar-container {
        margin-right: 0;
    }
}

@media screen and (max-width: 440px) {
    .info-container {
        width: 300px !important;
        overflow-x: auto;
    }

    .info-container h2 {
        font-size: 1.2rem;
    }

    .info-container h4 {
        font-size: 1rem;
    }
}