body {
    margin: 0;
    font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: rgb(26, 26, 31) !important;
}

.main-header-href {
    text-decoration: none;
}

#main-content {
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    margin-left: 1em;
}

.site-title-container {
    background: #141414;
    width: 100%;
}

.title-section1 {
    color: #59bbff;
}

.title-section2 {
    color: #ff9500;
}

.title-big img {
    border: 0;
}

.logo {
    width: 4.5rem;
    height: 4.5rem;
}

.container-custom {
    width: 100%;
    top: 0;
}

.navbar-main {
    background: #191818;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #a5a5a5 !important;
}

.items li {
    font-size: 1.25em;
}

.login-link, .register-link {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 1rem;
}

.login-link:hover, .register-link:hover {
    color: #a5a5a5 !important;
}

.login-link, .register-link {
    font-size: 1.5rem;
}

.navbar-icon {
    width: 0.95rem;
    height: 0.95rem;
}

.register-icon, .login-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1em !important;
}

.footer-end-container {
    border-top: 1px solid #656565;
    padding: 10px 0;
}

.main-footer {
    background: #141415;
    position: absolute;
    bottom: 0;
}

.footer-section {
    margin-right: 2rem;
}

.footer-section h4 {
    color: white;
}

.footer-section ul {
    list-style-type: none;
    color: #b9b9b9;
}

.footer-end-container {
    padding: 1rem;
}

.footer-end-container h6 {
    color: #8f8f8f;
}

@media (max-width: 768px) {
    .logo {
        width: 4rem;
        height: 4rem;
    }

    .title-big {
        font-size: 1.5rem;
    }

    .login-link, .register-link {
        font-size: 1rem;
    }
}


@media (max-width: 286px) {
    .logo {
        width: 2.5rem;
        height: 2.5rem;
    }

    .title-big {
        font-size: 1rem;
    }
}

@media (max-width: 267px) {
    .register-icon {
        margin-left: 1.2rem;
    }
    .login-icon {
        margin-left: 1.5rem;
    }
}